body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25em;
	background-color: #d21f26;
	background-image: url('images/background.png');
	text-align: center;
}

h1, h2 {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	text-align: center;
	color: #fff;
}

h1 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 3em;
}

h1.large {
	font-size: 4em;
}

h2 {
	margin: 1em;
	padding: 0;
}

h2.thin {
	font-weight: 400;
}

p {
	margin: 0.5em 2em;
	padding: 0;
	font-size: 1.1em;
	color: #fff;
}

h3 {
	/*margin: 0;*/
	padding: 0;
}

a, a:visited {
	transition: all .25s;
	color: #bbb;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

#header {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	color: #fff;
}

#header p {
	margin: 0.5em;
}

#header a {

}

#logo {
	display: inline-block;
	font-size: 2em;
}

#logo img {
	height: .8em;
	margin: 0 0 -0.1em;
	padding-right: 0.25em;
}

#wrap {
	width: 100%;
}

#top {
	padding-top: 3em;
}

.black {
	background-color: #000;
}

.button {
	transition: all 0.25s ease;
	margin: 5px auto;
	padding: 0.25em 1em;
	font-size: 1.25em;
	color: #fff;
	border-radius: 0.5em;
	background-color: #222;
	border-color: #000;
	border-style: solid;
	outline: none;
	cursor: pointer;
	box-shadow: inset 0 0.25em 1em #444;
}

.button:hover {
	background-color: #777;
}

#quickinfo {
	width: 100%;
	background-image: url("images/city.png");
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	margin-top: -0.5em;
	padding: 4em 0 8em 0;
	text-shadow: 2px 2px 12px #333;
}

#quickinfo p {
	color: #fff;
	margin-top: 0px;
}

#quickinfo-logo {
	height: 300px;
	padding: 0px;
	margin-bottom: 0px;
	border: 0px;
}

.signup {
	border: 3px solid #fff;
	border-radius: 0.5em;
	padding: 0 0.25em;
	margin-left: 0.25em;
	margin-right: 0.25em;
	display: inline-block;
}

.content {
	padding: 4em 1em;
}

#social .icon {
	color: #000;
	margin: 2em 0.5em;
}

#social .icon:hover {
	opacity: 0.5;
}

a img {
	transition: all 0.5s ease;
}

a img:hover {
	opacity: .75;
}

#footer {
	font-size: 0.75em;
	color: #fff;
	margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
	#quickinfo {
		padding: 4em 0 8em 0;
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 1em;
	}

	.content {
		padding: 2em 1em;
	}
}

@media screen and (max-width: 320px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		margin: 1em 0;
	}

	p {
		margin: 0;
	}

	#logo {
		font-size: 1.25em;
	}

	#quickinfo {
		margin-top: -1.5em;
		padding: 0 0 2em 0;
	}
}

.small {
	font-size: .9em;
}

.tiny {
	font-size: .7em;
}
